

#sensorWidget {
    border: 1px solid #e0e0e0; /* Bordure fine et grise */
    border-radius: 10px; /* Coins arrondis */
    padding: 15px; /* Espace interne */
    margin: 5px; /* Espace externe */
    background-color: white; /* Arrière-plan blanc */
}

#name {
    font-weight: bold;
    font-size: 14px;
}


QGridLayout {
    spacing: 15px;
    margin: 10px;
}

#scrollArea {
    background-color: #cdf0fb;

}

